.section-dkblue{
    background-color: var(--dkblue);
}
#about{
    padding: 4rem  1rem;
}
#about img{
    width: 100%;
    border: 1px solid var(--lightgreen);
    padding: 1rem;
    border-radius: 25px;
    margin-bottom: 1rem;

}
#about h2{
    margin-bottom: 1rem;
    color: var(--greenblue);
}
#about .text{
    background-color: var(--black);
    padding: 2rem;
    line-height: 1.5;
    border-radius:25px;
    font-size: var(--sans);
}
@media (min-width:550px){
    #about article{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      
    }
    #about img{
        flex-basis: 50%;
    
    }
    #about .text{
        flex-basis: 50%;
        line-height: 1;
        text-align: start;
        
    }

}
@media (min-width:850px){
    #about{
        max-width: 1200px;
        margin: 0 auto;
    }
    #about article{
        display: grid;
        grid-template-columns: repeat(10,1fr);
    }
    #about .text{
             grid-column: 1/6;
        grid-row: 1/2;

    }
    #about .img{
        grid-column:5/10;
        grid-row: 1/2;
    }
}
